/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
	color: #354358;
}

.profile__picture {
	filter: grayscale(1);
}

.profile__picture:hover {
	filter: grayscale(0);
}
